In [1]:
# Dependencies
import pandas as pd

# File to load
file = "Resources/purchase_data.csv"

# Store file contents into data frame
df = pd.read_csv(file)

# display first few rows
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [23]:
# count number of players by finding unique SNs
player_count = len(df["SN"].unique())
pd.DataFrame({"Total Players": [player_count]})

   Total Players
0            576

## Purchasing Analysis (Total)

In [20]:
# find number of unique items
item_count = len(df["Item Name"].unique())

# calculate average price and round to nearest penny
avg_price = round(df["Price"].mean(),2)

# number of purchases (corresponds to number of rows in data frame)
purchase_count = len(df)

# calculate total revenue
total_revenue = df["Price"].sum()

# display as data frame
pd.DataFrame({"Number of Unique Items": [item_count],
             "Average Price": [f"${avg_price}"],
             "Number of Purchases": [purchase_count],
             "Total Revenue": [f"${total_revenue}"]})

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

In [45]:
# how many genders?
df["Gender"].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [54]:
# put genders into separate data frames and get counts of unique SNs for each?
male_df = df[df["Gender"] == "Male"]
males = len(male_df["SN"].unique())

female_df = df[df["Gender"] == "Female"]
females = len(female_df["SN"].unique())

other_df = df[df["Gender"] == "Other / Non-Discolosed"]
others = len(other_df["SN"].unique())

males

484

In [53]:
# change index to gender?
gender_df = df.set_index("Gender")
len(gender_df.loc["Male"]["SN"].unique())

484

In [1]:
# group by?
gender_df = df.groupby(["Gender", "SN"])
gender_df.sum()

NameError: name 'df' is not defined